.map-container {
  height: 400px;
}
.table-div {
  overflow-x: scroll;
  .tableMob {
    display: flex;
  }
}
.desktop {
  right: 40px;
  top: 130px;
  bottom: 0;
  position: absolute;
  width: 500px;
  height: 300px;
}
.mobile {
  right: 60px;
  width: 250px;
  height: 100px;
  position: relative;
  margin-right: 20px;
}
