<div class="m-1">
  <a
    routerLink="/"
    class="flex items-center hover:bg-slate-600 py-2 px-2 rounded-md mb-1"
  >
    <div class="flex">
      <mat-icon class="mr-2">home</mat-icon>
      <h6 class="ml-1">Home</h6>
    </div>
  </a>
  <a
    routerLink="./contact"
    class="flex items-center hover:bg-slate-600 py-2 px-2 rounded-md mb-1"
  >
    <div class="flex">
      <mat-icon class="mr-2">add</mat-icon>
      <h6 class="ml-1">Add Contact</h6>
    </div>
  </a>
  <a
    routerLink="./dashboard"
    class="flex items-center hover:bg-slate-600 py-2 px-2 rounded-md mb-1"
  >
    <div class="flex">
      <mat-icon class="mr-2">widgets</mat-icon>
      <h6 class="ml-1">Dashboard</h6>
    </div>
  </a>
  <a
    href="#"
    class="flex items-center hover:bg-slate-600 py-2 px-2 rounded-md mb-1"
  >
    <div class="flex">
      <mat-icon class="mr-2">settings</mat-icon>
      <h6 class="ml-1">Action</h6>
    </div>
  </a>
  <a
    href="#"
    class="flex items-center hover:bg-slate-600 py-2 px-2 rounded-md mb-1"
  >
    <div class="flex">
      <mat-icon class="mr-2">settings</mat-icon>
      <h6 class="ml-1">Action</h6>
    </div>
  </a>
</div>
