<div class="sticky top-0" style="background-color: rgb(36, 36, 66)">
  <div class="flex justify-between py-3 mx-5 text-white items-center">
    <div class="flex">
      <a href="" class="flex">
        <img src="" alt="logo" />
        <h6>Test</h6>
      </a>
    </div>
    <div *ngIf="!isMobile; else mobile" class="flex items-center">
      <div class="mr-5 hover:underline">
        <a href="#">FAQs</a>
      </div>
      <div class="flex items-center bg-slate-600 py-2 px-2 rounded-md">
        <a href="">
          <div class="flex">
            <mat-icon class="mr-1">account_circle</mat-icon>
            <h5 class="ml-1">Client Portal</h5>
          </div>
        </a>
      </div>
    </div>
    <ng-template #mobile>
      <div class="flex items-center">
        <div class="mr-5 hover:underline">
          <a routerLink="./contact">Add contact</a>
        </div>
        <div class="flex items-center bg-slate-600 py-2 px-2 rounded-md">
          <a routerLink="./dashboard">
            <div class="flex">
              <mat-icon class="mr-1">account_circle</mat-icon>
              <h5 class="ml-1">Dashboard</h5>
            </div>
          </a>
        </div>
      </div>
    </ng-template>
  </div>
</div>
